body {
    max-width: 50em;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    font-family: sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: #1572F9;
    stroke-width: 1.5px;
}

/* iframe setting */
.frame {
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
    height:100%;
    width:100%;
    position:relative;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

/* use D3.js style */
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}